
      h1 {
        font-size: 65px;
        color: orange;
        font-family: sans-serif;
        font-style: italic;
        text-align: center;
      }
      ul {
        background-color: grey;
        line-height: 8mm;
        
        
      }
      .backGcolor {
        background-color: grey;
      }
      p {
        font-weight: 600;
        font-size: 3em;
      }
      body {
        font-size: 16px;
      }
      #yellow {
      color: yellow;
      }
      #red {
        color: red;
      }  
      #brown {
        color: brown;
      }    